# mac os
.DS_Store

# notebooks
**/__pycache__/
**/.ipynb_checkpoints/

# local build
*.egg-info
dist/

# ruff
.ruff_cache/

# sphinx config
docs/build/
docs/source/generated/

# whatever files we use and/or output
**/*.wav
**/*.mp3
**/*.json
**/*.csv
